<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aggiungi film</title>
  </head>
  <body>
    <form action="/add_movie" method="POST">
      <input type="text" name="titolo" placeholder="titolo" />
      <input type="text" name="regista" placeholder="regista" />
      <input type="number" name="anno" placeholder="anno" />
      <input type="text" name="genere" placeholder="genere" />
      <input type="number" name="durata" placeholder="durata" />
      <input type="text" name="attori" placeholder="attori" />
      <button type="submit">Aggiungi film</button>
    </form>
  </body>
</html>