<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista Registi</title>
  </head>
  <body>
    <h2>Registi</h2>
    {{#each film}}
      <h2>{{this.regista}}</h2>
    {{/each}}
  </body>
</html>