<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Home</title>
  </head>
  <body>
    <h1>Ecommerce Magliette Fantastiche</h1>
    <div class="container">
      <a href="/uomo">Vai alle magliette da uomo</a>
      <a href="/donna">Vai alle magliette da donna</a>
      <a href="/bambino">Vai alle magliette da bambino</a>
    </div>
  </body>
</html>