.Gallery {
  padding: 12px 24px;
  width: 500px;
  margin-bottom: 100px;
}

.container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.Gallery img {
  border: 1px solid lightgray;
  border-radius: 12px;
}
