.Navbar__list {
  display: flex;
  flex-direction: column;
  position: fixed;
}

.Navbar__list a {
  display: flex;
  align-items: center;
  font-weight: 500;
  color: white;
  text-decoration: inherit;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .Navbar__list a {
    display: flex;
    align-items: center;
    font-weight: 500;
    color: transparent;
    text-decoration: inherit;
    margin-bottom: 10px;
  }
}

.Navbar__list a:hover {
  color: lightgray;
}

.logo {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}
